<!DOCTYPE html>
<script>
    var countdownNumberEl = document.getElementById('countdown-number');
    var countdown = 10;

    countdownNumberEl.textContent = countdown;

    setInterval(function ()
    {
        countdown = --countdown <= 0 ? 10 : countdown;

        countdownNumberEl.textContent = countdown;
    }, 1000);
</script>

<style>
    body {
    height: 100%;
    width: 100%;
    background-color: #333;
    }

    #countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
    }

    #countdown-number {
    color: white;
    display: inline-block;
    line-height: 40px;
    }


    svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 400px;
    transform: rotateY(-180deg) rotateZ(-90deg);
    }

    svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: black;
    fill:lightgray;
    animation: countdown 10s linear infinite forwards;
    }


    @@keyframes countdown {
    from {
    stroke-dashoffset: px;
    }
    to {
    stroke-dashoffset: 113px;
    }
    }

</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp1</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--iframe width="900" height="506" src="https://www.youtube.com/embed/AWjBNSshF3s" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
    <audio autoplay="autoplay">
        <source src="Indian Bell.mp3" />
    </audio>

    You Said: <label id="lblSpeech">Default</label>
    <input id="textFromSpeech" size="480" />
    <button id="btnStart" onClick="javascript: onPressButton();"><img src="img/buttons-img/Play - Glassy Orange.jpg" width="30" height="30" /></button>
    @*<button id="btnStart" onClick="javascript: say('hello');"><img src="img/buttons-img/Play - Glassy Orange.jpg" width="30" height="30" /></button>*@
    <label id="lblLabel">Status :&nbsp;</label><label id="lblStatus">Listening...</label>
    <br />

    <div id="countdown">
        <div id="countdown-number"></div>
        <svg>
            <circle r="40" cx="55" cy="55"></circle>
        </svg>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebApp1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/JSONData.js" asp-append-version="true"></script>
    <script src="~/js/CommandFunctions.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/classIngredients.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
